.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App div {
  border: 1px solid pink;
  border-radius: 20px;
  margin-right: 20px;
  width: 200px;
}

.card{
  border: 1px solid pink;
  border-radius: 20px;
}